@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --primary: #ff5000;
    --secondary: #cc5425;
    --black: #1e1e1e;
    --white: #fafafa;
    --accent: #262525c9;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    /* Typography starts */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans', sans-serif;
    color: var(--white);
    }

h1 {
    font-size: 36px;
    }

h2 {
    font-size: 28px;
    }

h3 {
    font-size: 24px;
    }

h4 {
    font-size: 18px;
    }

p {
    font-size: 16px;
    color: var(--white);
    }

a {
    color: var(--white);
    }

    /* Typography ends */

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--black);
    color: var(--white);
    }

    /* Basic Styles Start */
button, .btn {
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    width: fit-content;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    }

.btn_primary {
    background-color: var(--primary);
    color: var(--white);
    }

.btn_primary:hover {
    background-color: var(--secondary);
    color: var(--white);
    }
    /* Basic Styles End */

nav, section {
        padding: 20px 30px;
        margin-bottom: 48px;
    }

nav {
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: var(--black);
    }

nav ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        gap: 16px;
        align-items: center;
    }

nav ul a {
    color: var(--white);
    text-decoration: none;
    }

nav ul li a {
    font-weight: 800;
    transition: 0.3s all ease-in-out;
    }

nav ul li {
    transition: 0.3s all ease-in-out;
    }

nav ul li:hover {
    color: var(--primary);
    transform: scale(1.1);
    }

nav ul li a:hover {
    color: var(--primary);
    }

#hero {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80vh;
    gap: 20px;
    }

.hero_img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--white);
    }

.hero_img:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
    }

.hero_text {
    display: flex;
    flex-direction: column;
    }

.hero_text h2 {
    color: var(--primary);
    }

.hero_text span {
    font-size: 20px;
    font-weight: 500;
    opacity: 0.8;
    color: var(--white);
    }

.hero_disc {
    max-width: 600px;
    }

.hero_text span, .hero_desc {
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--white);
    }

    /* Project Section Start */
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    }

p.sub-title {
    font-size: 18px;
    font-weight: 400;
    color: var(--white);
    opacity: 0.9;
    }

.project-card {
    border: 2px solid var(--accent);
    border-radius: 6px;
    overflow: hidden;
    }

.project-image {
    overflow: hidden;
    width: 100%;
    }

.project-card img {
    width: 100%;
    object-fit: cover;
    height: 300px;
    transition: 0.3s all ease-in-out;
    }

.project-card .card-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px 14px;
    }

.project-card p.card-description {
    font-size: 18px;
    font-weight: 300;
    color: var(--white);
    }

.project-card a {
    text-decoration: none;
    font-size: 18px;
    background-color: var(--accent);
    width: fit-content;
    padding: 3px;
    font-family: "Fira Sans", sans-serif;
    border-radius: 2px;
    color: var(--secondary);
    box-shadow: 10px 0 0 inset var(--accent);
    }

.project-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    }

.project-card:hover img {
    transform: scale(1.1);
    }
    /* Project Section End */

    /*About section start*/

section#about{
    display: flex;
    direction: row;
    
}
#about .details{
    display: flex;
    flex-direction: column;
    gap: 24px;
}