@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;800&family=Nunito+Sans:wght@400;600;800&display=swap");

:root {
  --primary: #ff5000;
  --secondary: #cc5425;
  --black: #1e1e1e;
  --white: #fafafa;
  --accent: #262525c9;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--black);
  color: var(--white);
  line-height: 1.6;
}

/* typography begins */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
  font-family: "Fira Sans", "Nuniti Sans";
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
  color: var(--white);
}

a {
  color: var(--white);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--primary);
}

button {
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--primary);
  color: var(--white);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: var(--secondary);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(255, 80, 0, 0.4);
}

.btn-primary {
  background-color: var(--primary);
}

nav,
section {
  padding: 20px 30px;
  margin-bottom: 48px;
}

section {
  scroll-margin-top: 50px;
}

/* typography end here */

/* nav section begin */

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

nav ul {
  display: flex;
  gap: 16px;
  list-style: none;
  align-items: center;
}

nav ul li {
  position: relative;
  display: inline-block;
  padding: 8px 16px 0 16px;
  cursor: pointer;
}

nav ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #cc5425;
  transition: width 0.3s ease;
}

nav ul li:hover::after {
  width: 100%;
}

nav ul li {
  transition: 0.3s ease;
}

nav ul li:hover {
  transform: scale(1.1);
}


nav ul li a {
  font-weight: 800;
  height: 50px;
}

/* nav section ends here */

/* hamburger starts */
.hamburger-pic {
  height: 25px;
  width: 25px;
}

.hamburger {
  border: none;
  background-color: transparent;
  display: none;
  transition: 0.1s all ease-in-out;
}

.hamburger:hover {
  background-color: transparent;
  box-shadow: 0 0 var(--black);
}

.hamburger:active {
  transform: rotate(90deg);
}

/* hamburger ends here */

/* sidebar section starts here */

.sidebar {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  background-color: var(--black);
  padding: 24px 48px;
  z-index: 1001;
  cursor: pointer;
  display: none;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  margin-top: 100px;
  margin-left: 20px;
  align-content: center;
}

.sidebar li {
  height: 35px;
  padding-top: 5px;
  padding-left: 5px;
}

.sidebar a p {
  padding: 4px;
}

.sidebar a p:hover {
  background-color: var(--primary);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px inset(var(--primary));
  color: var(--white);
}

.sidebar-menu {
  position: relative;
  width: 100%;
}

.sidebar .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-btn {
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 50%;
  transition: 0.1s all ease-in-out;
}

.close-btn:hover {
  background-color: var(--primary);
  transform: translateY(-2px);
  box-shadow: 0 4px 6px #943104d0;
  transform: scale(1.1);
}

.close-btn:active {
  transform: rotate(45deg);
}

/* sidebar section ends here */

/* hero section begins */

#hero {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80vh;
  gap: 20px;
}

.braces {
  color: var(--primary);
  font-weight: 100;
}

.hero-img,
.about-img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease;
}

.hero-img:hover,
.about-img:hover {
  transform: scale(1.1);
}

.hero-text {
  display: flex;
  flex-direction: column;
}

.hero-text h2 {
  color: var(--primary);
}

.hero-desc,
.hero-text span {
  font-size: 20px;
  margin-bottom: 15px;
}

.hero-disc {
  max-width: 700px;
}

/* hero section ends here */

/* project section starts */

.title {
  text-align: center;
  margin-bottom: 40px;
}

.sub-title {
  font-style: italic;
  opacity: 0.8;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
}

.project-card {
  border: 2px solid var(--accent);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.project-card:hover  {
  transform: scale(1.05);
}

.project-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card-details {
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-description {
  font-size: 18px;
  font-weight: 300;
}

.project-card a {
  font-size: 18px;
  padding: 3px 10px;
  border-radius: 4px;
  background-color: var(--accent);
  color: var(--secondary);
  box-shadow: inset 10px 0 0 var(--accent);
}

.description {
  height: 130px;
  overflow: hidden;
}

/* project section ends here */

/* about section starts */

section#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#about .details {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 600px;
}

.icons {
  height: 50px;
  width: 50px;
  margin: 10px;
  object-fit: cover;
  border-radius: 50%;
  transition: 0.2s all ease-in-out;
}

.icons:hover {
  transform: scale(1.2) translateY(-5px) rotate(-5deg);
}

/* about section end here */

/* contact section starts */

section#contact form {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: fit-content;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

label {
  font-size: 18px;
}

input,
textarea {
  border: 1px solid #ccc;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  padding: 8px 16px;
  width: 300px;
  color: var(--white);
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
}

textarea {
  resize: none;
  height: 120px;
}

/* contact section ends here */

/* footer section starts */

#footer {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

/* footer section ends here */

/* Media Queries starts */
@media (max-width: 1100px) {

  nav,
  section {
    padding-inline: 10px;
  }

  .hero-img,
  .about-img {
    height: 300px;
    width: 300px;
  }

  .description {
    height: 100px;
  }
}

@media (max-width: 920px) {
  h2 {
    font-size: 25px;
  }

  p {
    font-size: 14px;
  }

  #hero {
    flex-direction: column;
  }

  .hero-img,
  .about-img {
    height: 250px;
    width: 250px;
  }

  .btn-primary {
    font-size: 15px;
    padding: 8px;
  }

  .description {
    height: 90px;
    font-size: 15px;
  }
}

@media (max-width: 700px) {
  
  body {
    padding-inline: 3vw;
  }

  h2 {
    font-size: 20px;
  }

  #hero {
    min-height: 50vh;
  }

  .project-list {
    grid-template-columns: 1fr;
  }

  .hero-img,
  .about-img {
    height: 200px;
    width: 200px;
  }

  .icons {
    height: 30px;
    width: 30px;
  }

  nav ul {
    display: none;
  }

  .hamburger {
    display: block;
    padding: 4px 8px;
  }

  nav {
    justify-content: space-evenly;
    padding-inline: 3vw;
  }

  section {
    padding-inline: 4px;
  }

  nav h3 {
    margin-right: 50%;
    font-size: 19px;
  }

  input,
  textarea {
    font-size: 14px;
  }
}

.active {
  transform: translateX(0);
}

/* media queries end here */